{% extends '_main.html' %}

{% block main %}
<div class="container">
    <div class="movie-detail">
        <div class="movie-poster">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        </div>
        <div class="movie-info">
            <h1>{{ movie.title }}</h1>
            <p><strong>Yıl:</strong> {{ movie.release_year }}</p>
            <p><strong>Süre:</strong> {{ movie.duration }} dakika</p>
            <p><strong>Açıklama:</strong></p>
            <p>{{ movie.description }}</p>
            
            <video controls width="100%">
                <source src="{{ movie.video_file.url }}" type="video/mp4">
                Tarayıcınız video oynatmayı desteklemiyor.
            </video>
        </div>
    </div>
</div>
{% endblock %}